# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET Core
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# Angular
node_modules/
dist/
.angular/
*.log

# OS
Thumbs.db
.DS_Store

# Temporary files
*.tmp
build_log.txt

publish-api/
publish-functions/
*.zip
logs_temp/
api_logs.zip
api-deploy*.zip
functions-deploy.zip


# Publish output
**/publish/
